

.navText{
    @apply text-white hover:text-green-400 text-base m-0 ml-1 font-bold relative;
    overflow: hidden;
    display: inline-block ;
}
.navText::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: rgba(29, 78, 58, 0.4);
    transform: skewX(-30deg);
    transition: left 0.4s;
  }
  
  .navText:hover::before {
    left: 100%;
    transition: left 0.4s;
  }
  